<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>标准变量表达式：${}（推荐）</h1>
  <h3 th:text="${user}"></h3>
  <h3 th:text="${user.age}"></h3>
  <h3 th:text="${user.id}"></h3>
  <h3 th:text="${user.name}"></h3>


<h1>选择变量表达式（星号表达式）:*{}</h1>
<!--
    *{}必须使用th:object属性来绑定这个对象
    在div子标签中使用*来代替绑定的对象${user}
-->
<div th:object="${user}">
    <span th:text="*{id}"></span><br>
    <span th:text="*{age}"></span><br>
    <span th:text="*{name}"></span><br>
</div>

<h1>标准变量表达式与选择变量表达式（星号表达式）混合使用:*{}</h1>
     <span th:text="*{user.id}"></span><br>
     <span th:text="*{user.age}"></span><br>
     <span th:text="*{user.name}"></span><br>


</body>
</html>